@font-face {
  font-family: commodore_pixelated;
  src: url(../../public/CommodorePixelized.ttf);
}

@font-face {
  font-family: space_theme;
  src: url(../../public/SpaceTheme.ttf);
}

::-webkit-scrollbar {
  width: 8px;
}
 
::-webkit-scrollbar-thumb {
  background: #0f0; 
  border-radius: 4px;
}

body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  margin-left: 18px;
  margin-right: 18px;
  line-height: 1.6;
}

h1, h2, h3, h4, p, span {
  color: #0f0;
  font-family: 'commodore_pixelated';
  font-weight: normal;
}

h1 {
  text-align: center;
  font-size: min(2em, 10vw);
}

img {
  width: min(60vw, 400px);
}

button {
  background-color: black;
  border: 3px solid rgb(0, 255, 0);
}
