@font-face {
  font-family: commodorePixelated;
  src: url(../../public/CommodorePixelized.ttf);
}

body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  margin-left: 18px;
  margin-right: 18px;
}

h1, h2, h3, h4, p, span {
  color: #0f0;
  font-family: 'commodorePixelated';
  font-weight: normal;
}

h1 {
  text-align: center;
}

footer {
  margin-top: 125px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_span {
  margin: 5px;
}

.main_body {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.website_title_letter {
  font-size: min(6vw, 3em);
}

.website_title_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_and_timeline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.timeline {
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_item {
  margin-bottom: 200px;
  width: 100%;
  display: flex;
}

.timeline_dates {
  width: 20%;
  display: flex;
}

.content {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_text {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#journey_title {
  margin-bottom: 100px;
}

#timeline_line {
  height: 100%;
  border-radius: 5px;
  width: 5px;
  background-color: #0f0;
}
